<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This is the sample application for the PartyOn web application.  Creator: Patrick Schoeps, email: pschoeps@umich.edu.
</p>

<div class = "center hero-unit">
	<h1>PartyOn</h1>