<% provide(:title, 'Experiment') %>
<div class="center hero-unit">
  <h1>Join In!</h1>
  <p>Sign up to get the latest updates about events in your area, from concerts to get together, we've got you covered.</p>
  <p><%= link_to 'Sign Up', signup_path, class: "btn btn-lg btn-primary" %></p>
</div>

