<div class="jumbotron">
	<div class="container">
		<h1>Experimental page for fucking around with bootstrap.</h1>

		<p>In this page I'll be exploring a little bit about bootstrap and how it works.  Bangarang, motherfucker.</p>
		<a clas="btn btn-primary btn-lg" role="button">Clicky Click</a>

</div>

<div class="site-wrapper">
	<div class="site_wrapper_inner">
		<div class="cover-container">
			<div class="inner cover">
				<h1 class="cover-heading">Sample Title.</h1>

				<p class="lead">This cover is an experimental template.</p>
				<p class="lead">
					<a href= "#" class="btn btn-lg btn-default">Learn More</a>
				</p>
			</div>
			<div class="mastfoot">
				<div class="inner">
					<p>"This is the mastfoot "
						<a href="facebook.com">Facebook</a>
						", by "
						<a href="twitter.com"></a>
						"."
					</p>
				</div>
			</div>
		</div>
	</div>
</div>




<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>