<% provide(:title, 'Experiment') %>
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>lkdsjkl;dsjfl;dsak</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>


<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>