<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>PartyOn | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      This is a webiste run by Patrick Schoeps dedicated to learning web development with the eventual goal of a useful application.
    </p>
  </body>
</html>